<div class="container">
  <h2>Reset password</h2>

  <div class="row">
    {{#bs-form action="setPassword" class="col-md-4"}}
      {{! password input }}
      {{#bs-form-group}}
        {{one-way-password password
          update=(action (mut password))
          placeholder="Enter a new password"
          class="form-control"}}
      {{/bs-form-group}}

      {{bs-button defaultText="Set new password"
        disabled=(if isPasswordInvalid "disabled")
        type="primary"
        buttonType="submit"}}
    {{/bs-form}}
  </div>
</div>
