<div class="container">
  <h2>Forgot password?</h2>

  <div class="row">
    {{#bs-form action="sendToken" class="col-md-4"}}
      {{! email input }}
      {{#bs-form-group}}
        {{one-way-email email
          update=(action (mut email))
          placeholder="Email"
          class="form-control"}}
      {{/bs-form-group}}

      {{bs-button defaultText="Submit"
        disabled=(if isEmailInvalid "disabled")
        type="primary"
        buttonType="submit"}}
    {{/bs-form}}
  </div>
</div>
